:local(.Submit){
  text-align: center;
  background-color: #EAF4FF;
  padding: 4em 5em;
  min-height: 20rem;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}
:local(.Submit h1){
  font-size: 2rem;
  padding: 1rem 1rem;
}
:local(.Submit h1.finish){
  font-size: 3rem;
  color: #0EDE0E;
}
:local(.Submit p){
  display: inline-block;
  font-size: 0.9rem;
  margin-bottom: 10px;
  max-width: 400px;
  line-height: 1.2rem;
}
