:local(.Submit){
  text-align: center;
  background-color: #EAF4FF;
  padding: 2em 3em;
}
:local(.Submit > h1){
  font-size: 1.5rem;
  padding: 1rem 1rem;
  text-transform: uppercase;
}
:local(.Submit > p){
  font-size: 0.7rem;
  margin-bottom: 30px;
}
