:local(.About){
  text-align: center;
  background-size: cover;
  background-color: #EAF4FF;
  padding: 1rem 3rem;
  position: relative;
  min-height: 15rem;
}
:local(.About > h1){
  font-size: 1.5rem;
  padding: 3rem 1rem 1rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
:local(.About > p){
  font-size: 0.9rem;
  padding: 1rem 0;
  line-height: 1.3rem;
  max-width: 700px;
  text-align: center;
  display: inline-block;
}
