:local(.About){
  text-align: left;
  background-size: cover;
  background-color: #EAF4FF;
  padding: 1rem 3rem;
  position: relative;
  min-height: 20rem;
}
:local(.About > h1){
  font-size: 1.5rem;
  padding: 3rem 1rem 1rem 1rem;
  text-transform: uppercase;
}
:local(.About > p){
  font-size: 0.9rem;
  padding: 1rem;
  line-height: 1.3rem;
  max-width: 700px;
}
:local(.About > img){
  position: absolute;
    top: 40px;
    right: 40px;
  width: 20%;
}
@media screen and (max-width: 600px){
  :local(.About > img){
    display: none;
  }
}
