:local(.About){
  text-align: center;
  background-size: cover;
  background-color: #EAF4FF;
  padding: 1rem 3rem;
  position: relative;
  min-height: 15rem;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 1600px 0, 1600px 87%, 0 100%);
   clip-path: polygon(0 10%, 100% 0, 100% 96%, 0 100%);
}
:local(.About::after){
  border-style: solid;
  border-width: 0 100vw 20px 0;
  border-color: transparent rgba(0,0,0,0.4) transparent transparent;
}

:local(.About > h1){
  font-size: 1.5rem;
  padding: 3rem 1rem 1rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
:local(.About > p){
  font-size: 0.9rem;
  padding: 1rem 0;
  line-height: 1.3rem;
  max-width: 700px;
  text-align: center;
  display: inline-block;
}
