:local(.Contact){
  text-align: center;
  background-size: cover;
  background-color: #EAF4FF;
  padding: 1em 0 2.6em 0;
}
:local(.Contact > h1){
  font-size: 1.5rem;
  padding: 1rem 1rem;
  text-transform: uppercase;
  font-weight: bold;
}
:local(.Contact > .section){
  display: inline-block;
  margin: 2em 4em;
  height: 10em;
  text-align: center;
  overflow: hidden;
}
:local(.Contact > .section > h1){
  font-size: 1.1rem;
  padding: 0.7rem 5rem;
  text-transform: uppercase;

}
:local(.Contact > .section > p){
  font-size: 0.9rem;
  padding: 0.8rem 1rem;

}
:local(.Contact > .Facebook > h1){
  font-size: 1rem;
  text-transform: uppercase;
}
:local(.Contact > .section > .smallLine){
  display: inline-block;
  width: 60px;
  height: 3px;
  background: grey;
  margin-bottom: 30px;
}
:local(.logoStyle){
width: 40px;
height: auto;
margin: 1rem 0 0 0;
display: inline-block;
}
:local(.logoStyle:hover){
width: 40px;
height: auto;
margin: 1rem 0 0 0;
display: inline-block;
cursor: pointer;
}
