/* DEFAULT FORMAT */
:local(.stack) {
  position: relative;
  width:340px;
  max-width: 92%;
  height: auto;
  margin: 15px auto;
}
:local(.stack input) {
  border: none;
  background: #fff;
  display: block;
  height: 40px;
  outline: none;
  width: 316px;
  max-width: calc(100% - 2rem);
  margin: 1px auto;
  font-size: calc(16px + 0.3rem);
  padding: 0.5rem 1rem 0.5rem 1rem;
  letter-spacing: 1px;
}
:local(.stack button) {
  font-size: calc(16px + 0.3rem);
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: 60px;
  width: 100%;
  margin: 0px;
  background-color: #55E57B;
  box-shadow: 0 6px #2d7941;
}
:local(.stack button:hover) { background-color: #53df78; }
:local(.stack input:first-of-type) { border-radius: 7px 7px 0px 0px; border-left: none; }
:local(.stack input:last-child), :local(.stack button:last-of-type) { border-radius: 0px 0px 7px 7px ;}

/* INLINE FORMAT */
:local(.inline) {
  position: relative;
  display: inline-block;
  font-size: inherit;
}
:local(.inline input) {
  border: none;
  background: #fff;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: 1.2rem;
  outline: none;
  width: 7rem;
  letter-spacing: 1px;
  box-shadow: 0 6px #777;
  border-left: 1px solid grey;
  vertical-align: top;
}
:local(.inline button) {
  box-sizing: content-box;
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  height: 1.2rem;
  margin: 0px;
  min-width: 4rem;
  vertical-align: top;
}
:local(.inline input:first-of-type) { border-radius: 7px 0px 0px 7px; border-left: none; }
:local(.inline input:last-child), :local(.inline button:last-of-type) { border-radius: 0px 7px 7px 0px ; margin-bottom: 10px; }

/* BUTTON STYLES */
:local(button){
  color: #fff;
  padding: 10px 18px 12px 18px;
  border: none;
  text-decoration: none;
}
:local(button.red){ background-color: #FF7070; box-shadow: 0 6px #792d2d; }
:local(button.red:hover){ background-color: #EF7070; }
:local(button.yellow){ background-color: #FAD070; box-shadow: 0 6px #8F632C; }
:local(button.yellow:hover){ background-color: #EAC060; }
:local(button.green){ background-color: #55E57B; box-shadow: 0 6px #2d7941; }
:local(button.green:hover){ background-color: #53df78; }
:local(button.blue){ background-color: #66ccff; box-shadow: 0 6px #3d668f; }
:local(button.blue:hover){ background-color: #4dc3ff; }
