:local(.Partners){
  text-align: center;
  background-size: cover;
  color: white;
  padding: 2em 0 8.25em 0 ;
	margin-bottom: -6.5em;
}

:local(.Partners > h1){
  font-size: 1.5rem;
  padding: 1rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

:local(.Partners > .logos > .pictures){
  display: inline-block;
  height: 12em;
  width: 12em;
  background-size: 100% 100%;
  margin: 1em;
  border-radius: 10em;
  -webkit-transition: width 0.5s, height 0.5s; /* Safari */
  transition: width 0.5s, height 0.5s;
}

:local(.pictures:hover),:local(.pictureTwo:hover),:local(.pictureThree:hover){
cursor: pointer;
}
:local(.Partners > .logos > .pictureTwo){
  display: inline-block;
  height: auto;
  width: 200px;
  background-size: 100% 100%;
  margin: 1em 9em 3em;
  border-radius: 10em;
  -webkit-transition: width 0.5s, height 0.5s; /* Safari */
  transition: width 0.5s, height 0.5s;
}
@media (max-width:500px) {
:local(.Partners > .logos > img.pictureTwo), :local(.Partners > .logos > img.pictures){
  display: inline-block;
  height: auto;
  width: 150px;
  }
  :local(.Partners > .logos > img.pictureThree){
    display: inline-block;
    height: auto;
    width: 200px;
  }
}
