:local(.Partners){
  text-align: center;
  background-size: cover;
  color: white;
  padding: 2em 0 8.25em 0 ;
	margin-bottom: -6.5em;
}
:local(.Partners > h1){
  font-size: 1.5rem;
  padding: 1rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
:local(.Partners > .logos > .pictures){
  display: inline-block;
  height: 12em;
  width: 12em;
  background-size: 100% 100%;
  margin: 0.6em;
  border-radius: 10em;
  -webkit-transition: width 0.5s, height 0.5s; /* Safari */
  transition: width 0.5s, height 0.5s;
}
:local(.Partners > .logos > .pictures:hover){
  height: 12.3em;
  width: 12.3em;
}
