:local(.About){
  text-align: center;
  background-size: cover;
  background-color: #5DD378;
  padding: 1rem 3rem;
  position: relative;
  min-height: 8rem;
  overflow: visible;
}
:local(.AboutDropDown){
  text-align: center;
  background-color: #5DD378;
  padding: 1rem 3rem;
  position: relative;
  min-height: 8rem;
  overflow: visible;
  background-size: cover;
}
:local(.AboutDropDown > h1){
  font-size: 1.5rem;
  padding: 3rem 1rem 1rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
:local(.AboutDropDown > .firstText){
  font-size: 0.9rem;
  padding: 1rem 0;
  line-height: 1.3rem;
  max-width: 700px;
  text-align: center;
  display: inline-block;
}
:local(.AboutDropDown > .secondText){
  font-size: 0.9rem;
  padding: 1rem 0;
  line-height: 1.3rem;
  max-width: 700px;
  text-align: center;
  display: inline-block;
}

:local(.AboutDropDown > .secondsecondText){
  font-size: 0.9rem;
  padding: 1rem 0;
  line-height: 1.3rem;
  max-width: 700px;
  text-align: left;
  display: inline-block;
}
:local(.AboutDropDown > .secondsecondText > h1){
  font-size: 0.9rem;
  padding: 3rem 1rem 1rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

:local(.About::after){
  border-style: solid;
  border-width: 0 100vw 20px 0;
  border-color: transparent rgba(0,0,0,0.4) transparent transparent;
}

:local(.About > h1){
  font-size: 1.5rem;
  padding: 3rem 1rem 1rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
:local(.About > .firstText){
  font-size: 0.9rem;
  padding: 1rem 0;
  line-height: 1.3rem;
  max-width: 700px;
  text-align: center;
  display: inline-block;
}
:local(.About > .secondText){
  font-size: 0.9rem;
  padding: 1rem 0;
  line-height: 1.3rem;
  max-width: 700px;
  text-align: center;
  display: none;
}
:local(.About > .buttonDown){
  background-color: #5DD378;
  padding: 0.01em 0;
  border-radius: 100em;
  display: inline-block;
}
:local(.About >.buttonDown:hover){
cursor: pointer
}
:local(.AboutDropDown > .buttonDown){
  background-color: #5DD378;
  padding: 0.01em 0;
  border-radius: 100em;
  display: inline-block;
}
:local(.AboutDropDown >.buttonDown:hover){
cursor: pointer
}
:local(.hidden){
  display: none;
}
:local(.AboutDropDown > .Prices > p){
  text-align: center;
  font-size: 0.9rem;
  padding: 0.4rem 0;
  line-height: 1.3rem;
  max-width: 700px;
  display: grid;
}
:local(.AboutDropDown > .Prices > h1){
  font-size: 0.9rem;
  padding: 2rem 0rem 1rem 0;
  text-transform: uppercase;
  font-weight: bold;
}
