:local(.Guide){
  text-align: center;
  background-size: cover;
  min-height: 70vh;
  background-color: #fff;
  padding: 3em 0 3em 0;
}
:local(.Guide > h1){
  font-size: 1.5rem;
  padding: 1rem 1rem;
  text-transform: uppercase;
}
:local(.Guide > .smallLine){
  display: inline-block;
  width: 45px;
  height: 5px;
  background: #AAA;
  margin-bottom: 10px;
}
:local(.Guide > .step){
  display: inline-block;
  margin: 20px;
  height: 18em;
  width: 16em;
  text-align: center;
}
:local(.Guide > .step > .icon){
  display: inline-block;
  height: 12em;
  width: 12em;
  background-size: 100% 100%;
  margin: 0.6em;
  border-radius: 6em;
}
:local(.Guide > .step > h2){
  padding: 0.5em 0;
}
:local(.Guide > .step > p){
  font-size: 0.8em;
}
