:local(.Guide){
  text-align: center;
  background-size: cover;
  background-color: #5DD378;
  padding: 2.6em 0 2.6em 0;
}
:local(.Guide > h1){
  font-size: 0.9rem;
  padding: 1rem 0rem;
  text-transform: uppercase;
  font-weight: bold;
}
:local(.Guide > .step){
  display: inline-block;
  margin: 20px;
  height: 20em;
  width: 14em;
  text-align: center;
  overflow: hidden;
}
:local(.Guide > .step > .icon){
  display: inline-block;
  height: 12em;
  width: 12em;
  background-size: 100% 100%;
  margin: 0.6em;
  border-radius: 10em;
  -webkit-transition: width 0.5s, height 0.5s; /* Safari */
  transition: width 0.5s, height 0.5s;
}
:local(.Guide > .step > .icon:hover){
  height: 12.4em;
  width: 12.4em;
}
:local(.Guide > .step > h2){
  padding: 0.5em 0;
  font-size: 0.9rem;
  text-transform: uppercase;

}
:local(.Guide > .step > p){
  font-size: 0.8em;
  line-height: 1rem;
  min-height: 3rem;
}
