:local(.Investments){
  text-align: center;
  background-size: cover;
  color: white;
  padding: 1em 0 6em 0 ;
}
:local(.Investments > h1){
  font-size: 1.5rem;
  padding: 1rem 1rem;
  text-transform: uppercase;
}

:local(.Investments > .content > span.CountUp){
  font-size: 3rem;
  padding: 2rem 2rem;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  height: 12px;
  width: 12px;
}
