:local(.About){
  text-align: center;
  background-size: cover;
  background-color: #EAF4FF;
  padding: 1rem 3rem;
  position: relative;
  min-height: 15rem;
  overflow: visible;
}
:local(.AboutDropDown){
  text-align: center;
  background-color: #EAF4FF;
  padding: 1rem 3rem;
  position: relative;
  min-height: 9rem;
  overflow: visible;
  background-size: cover;
}
:local(.AboutDropDown > h1){
  font-size: 1.5rem;
  padding: 1rem 1rem 1rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
:local(.AboutDropDown > .firstText){
  font-size: 0.9rem;
  padding: 1rem 0;
  line-height: 1.3rem;
  max-width: 700px;
  text-align: center;
  display: inline-block;
}
:local(.AboutDropDown > .secondText){
  font-size: 0.9rem;
  padding: 1rem 0;
  line-height: 1.3rem;
  max-width: 700px;
  text-align: center;
  display: inline-block;
}
:local(.About::after){
  border-style: solid;
  border-width: 0 100vw 20px 0;
  border-color: transparent rgba(0,0,0,0.4) transparent transparent;
}

:local(.About > h1){
  font-size: 1.5rem;
  padding: 3rem 1rem 1rem 1rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
:local(.About > .firstText){
  font-size: 0.9rem;
  padding: 1rem 0;
  line-height: 1.3rem;
  max-width: 700px;
  text-align: center;
  display: inline-block;
}
:local(.About > .secondText){
  font-size: 0.9rem;
  padding: 1rem 0;
  line-height: 1.3rem;
  max-width: 700px;
  text-align: center;
  display: none;
}
:local(.About > .buttonDown){
  background-color: #EAF4FF;
  padding: 0.01em 0;
  border-radius: 100em;
  display: inline-block;
}
:local(.About >.buttonDown:hover){
cursor: pointer
}
:local(.AboutDropDown > .buttonDown){
  background-color: #EAF4FF;
  padding: 0.01em 0;
  border-radius: 100em;
  display: inline-block;
}
:local(.AboutDropDown >.buttonDown:hover){
cursor: pointer
}
:local(.hidden){
  display: none;
}
:local(.Guide){
  text-align: center;
  background-size: cover;
  background-color: #EAF4FF;
  padding: 2.6em 0 2.6em 0;
}
:local(.Guide > h1){
  font-size: 0.9rem;
  padding: 1rem 0rem;
  text-transform: uppercase;
  font-weight: bold;
}
:local(.Guide > .step){
  display: inline-block;
  margin: 20px;
  height: 20em;
  width: 14em;
  text-align: center;
  overflow: hidden;
}
:local(.Guide > .step > .icon){
  display: inline-block;
  height: 12em;
  width: 12em;
  background-size: 100% 100%;
  margin: 0.6em;
  border-radius: 10em;
  -webkit-transition: width 0.5s, height 0.5s; /* Safari */
  transition: width 0.5s, height 0.5s;
}
:local(.Guide > .step > .icon:hover){
  height: 12.4em;
  width: 12.4em;
}
:local(.Guide > .step > h2){
  padding: 0.5em 0;
  font-size: 0.9rem;
  text-transform: uppercase;

}
