@font-face {
	font-family: "MontserratLight";
	src: url(./fonts/Montserrat-Light.otf);
}
@font-face {
	font-family: "MontserratRegular";
	src: url(./fonts/Montserrat-Regular.otf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, textarea, input {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	font-family: MontserratLight;
	background: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Older browsers */
html { font-size: 12px; }
/* Modern browsers */
@media screen and (min-width: 25em){
  html { font-size: calc( 12px + (15 - 12) * (100vw - 400px) / (800 - 400) ); }
}
html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
		-webkit-tap-highlight-color: transparent;
		touch-action: manipulation;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
input, textarea ,*[contenteditable=true] {
  -webkit-touch-callout:default;
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text;
   }
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* Because safari for iOS is a bitch */
input, textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

/* -----------------------------------*/
/* ------>>> HTML Elements <<<--------*/
/* -----------------------------------*/

body {
	background: url('./BG.png');
}
button, .button{
	display: inline-block;
  color: #fff;
  padding: 10px 18px 12px 18px;
  background-color: #66ccff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 6px #3d668f;
  margin: 5px 10px 5px 10px;
  text-align: center;
  -ms-transform: scale3d(1,1,2);
  -webkit-transform: scale3d(1,1,2);
  transform: scale3d(1,1,2);
  text-decoration: none;
	font-size: 1rem;
	font-family: "MontserratRegular";
	touch-action: manipulation;
}
button img, .button img { height: 2em; vertical-align: middle; }
button:hover, .button:hover {
  background-color: #4dc3ff;
  cursor: pointer;
}
@media screen and (max-width: 480px){
  button, .button { border-radius: 10px; }
}
/*button:active {
  background-color: #1ab2ff;
  box-shadow: 0 3px #3d668f;
  -ms-transform: translateY(5px);
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
}*/

/* -----------------------------------*/
/* ---------->>> PSEUDO <<<-----------*/
/* -----------------------------------*/

::-webkit-scrollbar {
    display: none;
}

::-webkit-input-placeholder {
     color: #555;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: #555;
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: #555;
  }

  :-ms-input-placeholder {
     color: #555;
  }
