:local(.Header){
  text-align: center;
  background-image: url('../img/bg.jpg');
  background-size: cover;
  min-height: 70vh;
  color: white;
}
:local(.Header > h1){
  font-size: 4rem;
  padding: 4rem 0;
}
