:local(.Header){
  text-align: center;
  background-size: cover;
  color: white;
  padding: 7em 0 8.25em 0 ;
}
:local(.Header > h1){
  font-size: 4rem;
  padding: 1rem 0;
  text-transform: uppercase;
}
:local(.Header > p){
  font-size: 1rem;
  padding: 4rem 0;
	text-transform: uppercase;
}
