:local(.Header){
  text-align: center;
  background-size: cover;
  color: white;
  padding: 3.5em 0 9.25em 0 ;
}
:local(.Header > h1){
  font-size: calc(1vw + 2rem);
  padding: -0.5rem 0;
  text-transform: uppercase;
}
:local(.Header > h2){
  font-size: 1rem;
  padding: 2rem 0;
  font-weight: bold;
	text-transform: uppercase;
}
:local(.Header > p){
  font-size: 0.9rem;
  padding: 1rem 0;
  max-width: 500px;
  display: inline-block;
  line-height: 1.1rem;
}
:local(.Header > .readMore){
  display: inline-block;
  width: 140px;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  text-align: center;
  border: 1.9px solid #fff;
  font-size: 0.8rem;
  margin: 0rem 2rem 0rem 0rem;
  border-radius: 5px;
  font-family: "MontserratRegular";
}
:local(.Header > .readMore:hover){
border-color: #fff; /* fallback */
background-color: #fff;
color: black;
cursor: pointer;
}
:local(.Header > .contactUs){
  display: inline-block;
  width: 140px;
  padding: 0.5rem 0.5rem;
  background-color: transparent;
  text-align: center;
  border: 1.9px solid #fff;
  font-size: 0.8rem;
  margin: 3rem 0rem 2rem 0rem;
  border-radius: 5px;
  font-family: "MontserratRegular";
}
:local(.Header > .contactUs:hover){
border-color: #fff; /* fallback */
background-color: #fff;
color: black;
cursor: pointer;
}
