:local(.Header){
  text-align: center;
  background-size: cover;
  color: white;
  padding: 3.5em 0 10.25em 0 ;
}
:local(.Header > h1){
  font-size: calc(1vw + 2rem);
  padding: -0.5rem 0;
  text-transform: uppercase;
}
:local(.Header > h2){
  font-size: 1rem;
  padding: 2rem 0;
  font-weight: bold;
	text-transform: uppercase;
}
:local(.Header > p){
  font-size: 0.9rem;
  padding: 1rem 0;
  max-width: 500px;
  display: inline-block;
  line-height: 1.1rem;
}
